__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
.env

outputs/*
!outputs/.gitkeep

*.db
*.sqlite
*.sqlite3

industry_intelligence_agent/logs/*
!industry_intelligence_agent/logs/.gitkeep

industry_intelligence_agent/data/processed/*
!industry_intelligence_agent/data/processed/.gitkeep

